{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <!-- Header -->
    <div id="header">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
                <h1 id="title">Марго Мастер</h1>
                <p>Черная Магия</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <!--

                    Prologue's nav expects links in one of two formats:

                    1. Hash link (scrolls to a different section within the page)

                       <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                    2. Standard link (sends the user to another page/site)

                       <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

                -->
                <ul>
                    <li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Начало</span></a></li>
                    <li><a href="#services" id="services-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Услуги</span></a></li>
                    <li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Обо Мне</span></a></li>
                    <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Контакты</span></a></li>
                </ul>
            </nav>

        </div>

        <div class="bottom">

            <!-- Social Icons -->
            <ul class="icons">
                <li><a href="https://vk.com/id256008200" class="icon fa fa-vk fa-2x""><span class="label"></span></a></li>
                <li><a href="https://www.youtube.com/channel/UCmCzCPovVNtyl3XiGAOLBOw" class="fa fa-youtube fa-2x"><span class="label"></span></a></li>
                <li><a href="https://vk.com/club152929103" class="icon fa-shopping-basket fa-2x "><span class="label"></span></a></li>
                <li><a href="https://vk.com/club72264014#" class="icon fa-users fa-2x"><span class="label">Dribbble</span></a></li>
            </ul>

        </div>

    </div>

    <!-- Main -->
    <div id="main">

        <!-- Начало -->
        <section id="top" class="one dark cover">
            <div class="container">

                <header>
                    <h2 class="alt" >Черная Магия Марго Мастер

                </header>

                <footer>
                    <a href="https://www.youtube.com/channel/UCmCzCPovVNtyl3XiGAOLBOw" class="button scrolly">Simplemagic</a>
                </footer>

            </div>
        </section>

        <!-- Услуги -->
        <section id="services" class="two">
            <div class="container">

                <header>
                    <h2>Услуги</h2>
                </header>

                <p>Чёрная магия - это путь сильных, смелых и отчаянных. Это изменение своей жизни и трансформация энергии, которая подчиняется Мастеру. Ты можешь стать Богом на Земле, ибо постигнешь то, что толпа не поймёт и на смертном одре. <br>
                    Оказываю квалифицированную эзотерическую помощь в различных направлениях.
                    Выполняю магические обряды и ритуалы любовной магии по коррекции отношений, обряды на улучшение материального благополучия, методики по коррекции судьбы, снимаю порчу, чужые привороты, помогаю гармонизировать общий фон Вашей жизни. Личных консультаций, скайп конференций не веду.
                    Обратиться ко мне за помощью можно через мою почту, страницу в контакте, либо заполнив
                    <a href="#contact">форму обратной связи</a>
                    на сайте.
                    Работаю только предоплате.
                    Стоимость консультации составляет
                    <title>Изменение цвета текста</title>
                    <style>
                        .colortext {
                            color: red; /* Красный цвет выделения */
                        }
                    </style>
                    </head>
                <body>
                <span class="colortext">50$</span> <br>
                Для консультации необходимы: свежее фото хорошего качества, Ваше полное имя и дата рождения.
                Оплата за консультацию производится перед её фактическим исполнением.<br>
                Мои услуги:<br>
                Гадание на картах Таро,<br>
                Ясновидение,<br>
                Спиритизм (обращение к духам и Миру Мёртвых),<br>
                Снятие порчи, проклятий,<br>
                Избавление от бед и болезней,<br>
                Защита от негатива,<br>
                Изганание подселения(мертвых с тела живого, бесов и прочих паразитов),<br>
                Обряды на красоту и омоложение,<br>
                Наказание Ваших врагов и обидчиков,<br>
                Обряды на удачу и богатство,
                Обряды на красоту и омоложение,<br>
                Восстановление справедливости там, где были нарушены Ваши интересы,<br>
                Обучение магии(карты таро, некромантия, чёрная магия, защитная магия, спиритизм, астрал),<br>
                Изменение хода событий и Вашей судьбы,<br>
                Снятие излома судьбы и крадников,<br>
                Снятие венца безбрачия,<br>
                Продление жизни.</p>

                <div class="row">
                    <div class="4u 12u$(mobile)">
                        <article class="item">
                            <a href="https://www.youtube.com/watch?v=1Bvnv6vQnqc"><img src="images/pic02.jpg" alt="" /></a>
                            <header>
                                <h3>Снятие Порчи</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="https://www.youtube.com/watch?v=vL24B1ECoNs"><img src="images/pic03.jpg" alt="" /></a>
                            <header>
                                <h3>Ясновидение, Гадание, Астрал</h3>
                            </header>
                        </article>
                    </div>
                    <div class="4u 12u$(mobile)">
                        <article class="item">
                            <a href="https://www.youtube.com/watch?v=1pcOAB1Vt1Q" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
                            <header>
                                <h3>Обучение</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="https://www.youtube.com/watch?v=9A8IY5OAHno" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
                            <header>
                                <h3>Кладбищенская магия</h3>
                            </header>
                        </article>
                    </div>
                    <div class="4u$ 12u$(mobile)">
                        <article class="item">
                            <a href="https://www.youtube.com/watch?v=rOi95tsCXhE&t=348s" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
                            <header>
                                <h3>Улучшение Финансового Положения</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="https://www.youtube.com/watch?v=Ypr3EPLXLzM&t=14s" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
                            <header>
                                <h3>Любовная Магия, Привороты</h3>
                            </header>
                        </article>
                    </div>
                </div>

            </div>
        </section>

        <!-- About Me -->
        <section id="about" class="three">
            <div class="container">

                <header>
                    <h2>Обо Мне</h2>
                </header>

                <iframe width="760" height="480" src="https://www.youtube.com/embed/a_TC1l_m1O0?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

                <p>Магия - это моя жизнь и предназначение. У меня не было другого пути и не могло быть другого выбора.
                    Способности по моему роду идут по женской линии. Первые практические обряды я начала более 17 лет тому назад.
                    Имею родовые способности, но это не значит,что мне не пришлось прилагать огромных усилий для того, чтобы наработать силу и собственную технику.
                    Моя прабабушка была чёрной ведьмой, которая бралась исключительно за порчи. Бабушка гадала на картах, а мама является медиумом.
                    Медиум - это человек, который живёт в двух мирах одновременно и может видеть в обычной жизни астральный мир, не придаваясь никаким магическим обрядам и ритуалам.
                    В своей магической практике,обращаюсь к силе Мира Мёртвых и не скрываю этого. Практикую только Чёрную Магию и не прикрываюсь фразами "без греха", "от Бога" и прочее.
                    Любые обряды, ритуалы, гадание, предсказание - это всё то, что запрещено в христианстве. Для того, чтобы Вы могли понять кто я есть и что из себя представляю, перейдите на мой канал <a href="https://www.youtube.com/channel/UCmCzCPovVNtyl3XiGAOLBOw/videos">YOUTUBE</a> и просмотрите несколько моих роликов.</p>

            </div>
        </section>

        <!-- Contact -->
        <section id="contact" class="four">
            <div class="container">

                <header>
                    <h2>Контакты</h2>
                </header>

                <p>По всем вопросам обращайтесь на почту simplemagik01@gmail.com или страничку<br>
                    <a href="https://vk.com/id256008200">Вконтакте</a></p>



                {{ form(form) }}

            </div>
        </section>

    </div>

    <!-- Footer -->
    <div id="footer">

        <!-- Copyright -->
        <ul class="copyright">
            <li>&copy; simplemagik01@gmail.com</li><li><a href="https://vk.com/id256008200">Марго Мастер</a></li>
        </ul>

    </div>

{% endblock %}
